<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="2.4.0" targetFramework="net462" />
  <package id="BCrypt.Net-Next" version="4.0.2" targetFramework="net462" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net462" />
  <package id="LicenseSpot.Framework" version="3.9.0" targetFramework="net462" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net462" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net462" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net462" />
  <package id="LumenWorksCsvReader" version="4.0.0" targetFramework="net462" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net462" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1449.0" targetFramework="net462" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net462" />
  <package id="MimeKit" version="2.14.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net462" />
  <package id="PrinterUtility" version="1.2.0" targetFramework="net462" />
  <package id="QRCoder" version="1.4.1" targetFramework="net462" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.114.3" targetFramework="net462" />
  <package id="System.Drawing.Common" version="6.0.0-preview.6.21352.12" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0-preview.6.21352.12" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Json" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net462" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="net462" />
</packages>